@import "tailwindcss/base";
@import "theme";
@import "tailwindcss/components";
@import "buttons";
@import "form";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Inter var";
    src: url("/fonts/inter-roman.var.woff2") format("woff2");
    font-named-instance: "Regular";
    font-weight: 400 600;
    font-style: oblique 0deg 10deg;
    font-display: swap;
    font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0,
      "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum" 0, "zero" 0, "ss01" 0,
      "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03", "cv04", "cv05",
      "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp",
      "kern";
  }

  body {
    @apply text-base;
    @apply antialiased;
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }

  a {
    @apply transition-colors;
    @apply duration-150;
    @apply ease-in-out;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:ring-2;
    @apply focus:outline-none;
    @apply focus:ring-offset-0;
    @apply focus:ring-blue-200;
    @apply focus:border-blue-500;
    @apply dark:focus:ring-blue-800;
    @apply dark:focus:border-blue-500;
    @apply focus:shadow-none;
  }
}
